extends layout

block content
  h1= title
  div.container
    div.grid-50
      div.inner
        each beer, i in buddyBeers
          if i == buddyBeers.length - 1
            div.buddyBeer.lastBuddy.clearfix
              h3 #{beer.from} to #{beer.buddy}
              div.amount $#{beer.amount}
              div.note
                p #{beer.note}
          else
            div.buddyBeer.clearfix
              h3 #{beer.from} to #{beer.buddy}
              div.amount $#{beer.amount}
              div.note
                p #{beer.note}
